In [23]:
import pandas as pd
import numpy as np
import random

In [24]:
df_actual = pd.read_excel("Actual_Food_Cost.xlsx")

In [25]:
df_test = pd.read_excel("Data_Test.xlsx")

In [26]:
len(df_test), len(df_actual)

(4231, 4231)

In [27]:
a = np.array([random.randint(-10, 10) for i in range(4231)])

In [28]:
b = np.array([random.randint(-5, 5) for i in range(4231)])

In [29]:
c = np.multiply(df_actual['COST'] , (100 + a) / 100)

In [30]:
d = np.multiply(c, (100 + a) / 100)

In [ ]:
e = np.mut

In [31]:
df_test['COST'] = d

In [32]:
df_test.to_excel("xgboost.xlsx", index = 0)

In [33]:
df_test.sample(10)

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES,COST
2005,CASUAL DINING,9515,"Seafood, Chinese, Thai",11am – 12midnight (Mon-Sun),Mumbai,Santacruz West,4.0,405 votes,700.000
1547,LOUNGE,2359,"North Indian, Italian, Continental, Chinese",12noon – 1am (Mon-Sun),New Delhi,Punjabi Bagh,4.2,118 votes,1348.320
3761,QUICK BITES,14486,"North Indian, Chinese",12noon – 12midnight (Mon-Sun),New Delhi,Karkardooma,4.6,281 votes,786.520
1329,None,13081,"Pizza, Burger, Sandwich, Fast Food, North Indian",24 Hours (Mon-Sun),Gurgaon,DLF Phase 2,3.6,21 votes,315.875
125,CASUAL DINING,6143,"North Indian, Kerala, Biryani",11am – 11pm (Mon-Sun),Kochi,Kalamassery,3.0,4 votes,276.480
631,CASUAL DINING,13034,"North Indian, Chinese",11am – 1am (Mon-Sun),New Delhi,Mahipalpur,3.7,165 votes,561.055
2409,FINE DINING,13398,Thai,"7:30pm – 11:45pm (Mon-Thu),7:30pm – 11:45pm...",Hyderabad,Begumpet,4.4,230 votes,3459.600
3609,CASUAL DINING,7535,"South Indian, North Indian, Chinese, Continental",7:30am – 10:30pm (Mon-Sun),Hyderabad,Khairatabad,4.0,119 votes,826.875
4050,None,7997,North Indian,7:30am – 10:30am (Mon-Sun),New Delhi,Chawri Bazar,3.9,97 votes,121.000
782,CASUAL DINING,8980,"North Indian, Mughlai, Chinese",12noon – 11:45pm (Mon-Sun),New Delhi,South Extension 2,4.5,312 votes,1263.500